@use '../../sass/variables/variables';

.services {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 960px) {
  .services {
    grid-template-columns: 1fr;
  }
}


