@use '../../sass/variables/variables.scss';
@use '../../sass/components/button';

.hero {
  margin-top: 2rem;
  background: variables.$clr-primary-orange url('../../assets/bg-pattern-hero-home.svg') top right no-repeat;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  color: variables.$clr-white;
  display: flex;
  align-items: center;
  max-height: 550px;
  overflow:hidden
}

.hero__phone_img {
  position: relative;
  top: 100px;
}

.hero__title {
  font-size: 2.2rem;
  padding-bottom: 2rem;
}

.hero__description {
  font-size: 1.1rem;
}

// Mobile and desktop
@media only screen and (max-width: 1200px) {
  .hero {
    flex-direction: column;
    text-align: center;
    max-height: 870px;
  }

  .hero__left {
    padding-top: 2rem;
  }

  .hero__phone_img {
    position: relative;
    top: -100px;
  }

  .hero__title {
    font-size: 1.5rem;
  }
}

// @media only screen and (max-width: 450px) {
//   .hero {

//   }
// }