@use '../../sass/variables/variables';

.location__card {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
}

.location__card-offices {
  display: flex;
  flex: 80%;
  gap: 4rem;
}

.location__details {
  background-color: variables.$clr-pale-pink;
  padding: 4rem;
  flex-grow: 2;
  border-radius: 10px;
}

.map__image {
  border-radius: 5px;
}

.location__place {
  color: variables.$clr-primary-orange;
  font-size: 2.2rem;
  padding-bottom: 2rem;
}

h4 {
  padding-bottom: 2rem;
}

.location__map {
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
  flex: 20%;
}

// tablet view
@media only screen and (min-width: 650px) and (max-width: 1020px) {
  .location__card {
    flex-direction: unset;
    flex-direction: column-reverse;
  }

  .location__map {
    img {
      max-height: 300px;
      object-fit: cover;
    }
  }
}

// mobile view 
@media only screen and (max-width: 649px) {
  .location__card {
    width: 100%;
    flex-direction: column-reverse;
    gap: 0;
    text-align: center;
  }

  .location__map {
    img {
      max-height: 200px;
      object-fit: cover;
    }
  }

  .location__card-offices {
    flex-direction: column;
    align-items: center;
  }
}

