@use '../../sass/variables/variables';

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

@media only screen and (max-width:1020px) {
  .about {
    grid-template-columns: 1fr;
  }
}