@use '../../sass/variables/variables';

.web__design {
  width: 80%;
  margin: auto;
}

.web__design_header {
  background: variables.$clr-primary-orange url('../../assets/bg-pattern-call-to-action.svg') top right no-repeat;
  padding: 30px;
  min-height: 250px;
  border-radius: 10px;
  color: variables.$clr-white;
  text-align: center;
}

.web__design-title {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.web__design-description {
  font-size: 1.1rem;
  width: 400px;
  margin: auto;
}

.web__design--skill_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 2.5rem;
}

.web__design--other_skills {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
