@use '../../sass/variables/variables';

.web__design {
  width: 80%;
  margin: auto;
}

.web__design--skill_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 2.5rem;
}

.web__design--other_skills {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
