.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav__links {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.nav__logo {
  height: 30px;
  img {
    height: 100%;
  }
}