@use '../../sass/variables/variables';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 2rem;
}

.nav__links {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.nav__logo {
  height: 30px;
  cursor: pointer;
  img {
    height: 100%;
  }
}

.close__icon__mobile {
  display: none;
}

.mobile__nav {
  display: none
}

.nav #showLinks {
  display: flex;
}

@media only screen and (max-width: 750px) {
  .main__navigation {
    display: none;
  }

  .mobile__nav {
    display: flex;
    img {
      width: 30px;
      height: 30px;
    }
  }

  .close__icon__mobile {
    display: flex;
    position: absolute;
    top: 15px;
    right: 20px;
    img {
      width: 40px;
      height: 40px;
    }
  }

  .nav #showLinks {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    background-color: variables.$clr-pale-pink;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .nav #showLinks .nav__links {
    display: flex;
    flex-direction: column;
  }

}