@use '../../sass/variables/variables';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 2rem;
}

.nav__links {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.nav__logo {
  height: 30px;
  img {
    height: 100%;
  }
}

// Link {
//   text-decoration: none;
//   color: variables.$clr-black;
// }

Link {
  all: unset;
}