@use '../../sass/variables/variables';

.app__design {
  width: 80%;
  margin: auto;
}

.app__design--skill_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 2.5rem;
}

.app__design--other_skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  width: 100%;
}


@media only screen and (max-width: 1020px) {
  .app__design--skill_cards {
    grid-template-columns: 1fr;
  }

  .app__design--other_skills {
    flex-direction: column;
  }
}
