@use '../../sass/variables/variables';

.app__design {
  width: 80%;
  margin: auto;
}

.app__design--skill_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 2.5rem;
}