@use '../../sass/variables/variables';

.design__card {
  border-radius: 10px;
  background-color: variables.$clr-pale-pink;
  &:hover {
    background-color: variables.$clr-primary-orange;
    * {
      color: variables.$clr-white;
    }
  }
}

.design__card-img {
  min-width: 200px;
  min-height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}

.design__card-main {
  padding: 20px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.design__card-title {
  color: variables.$clr-primary-orange;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 1.5rem;
}
