@use '../../sass/variables/variables';

.design__card {
  border-radius: 10px;
  background-color: variables.$clr-pale-pink;
  &:hover {
    background-color: variables.$clr-primary-orange;
    * {
      color: variables.$clr-white;
    }
  }
}

.design__card-img {
  min-width: 200px;
  min-height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}

.design__card-main {
  padding: 20px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.design__card-title {
  color: variables.$clr-primary-orange;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

// Tablet view
@media only screen and (min-width: 550px) and (max-width: 1020px) {
  .design__card {
    display: flex;
    justify-content: center;
  }

  .design__card-img {
    flex: 50%;
    img {
      width: 100%;
      border-radius: 15px 0 0 15px;
    }
  }

  .design__card-main {
    flex: 50%;
    align-self: center;
  }
}

//mobile view 
@media only screen and (max-width: 549px) {
  .design__card {
    display: grid;
  }

  .design__card-img {
    img {
      max-height: 250px;
    }
  }
}

