@use '../../sass/variables/variables';

.footer {
  margin-top: 300px;
  color: variables.$clr-white;
  background-color: variables.$clr-black;
  width: 100%;
  min-height: 350px;
}

.footer__main {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

