@use '../../sass/variables/variables';

.footer {
  color: variables.$clr-white;
  background-color: variables.$clr-black;
  min-height: 400px;
  padding-top: 100px;
}

.footer__main {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  padding-top: 0;
}

.footer__left {
  color: variables.$clr-grey;
  display: flex;
  gap: 7rem;
}

.footer__socials {
  display: flex;
  gap: 1.5rem;
}

.footer__nav {
  padding: 2rem 4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 20px;
  nav {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    li:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.footer__logo {
  height: 30px;
  cursor: pointer;
}

@media only screen and (max-width:960px){

}
